<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.contacts.data.crud">


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:label="@string/app_name"
            android:name=".common.DataApplication">
        <activity android:name=".start.SelectTableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".start.SelectTableOperationActivity"/>
        <activity android:name=".create.CreateRecordActivity"/>
        <activity android:name=".create.CreateSuccessActivity"/>
        <activity android:name=".common.SendEmailActivity"/>
        <activity android:name=".retrieve.SelectRetrievalTypeActivity"/>
        <activity android:name=".delete.DeleteRecordActivity"/>
        <activity android:name=".delete.DeleteSuccessActivity"/>
        <activity android:name=".update.UpdateRecordActivity"/>
        <activity android:name=".update.UpdateSuccessActivity"/>
        <activity android:name=".retrieve.ShowByPropertyActivity"/>
        <activity android:name=".retrieve.RetrieveRecordActivity"/>
        <activity android:name=".retrieve.ShowEntityActivity"/>

        <service android:name="com.backendless.AndroidService"/>
    </application>
</manifest>
